.page-footer{
    display: flex;
    flex-direction: row;
    padding-left: 60px;
    padding-right: 60px;
    height: 100px;
    padding-bottom: 40px;
}
.page-footer-left{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 20px;
}
.footer-logo-img{
    width: 65px;
  height: 42px;
}
.footer-logo-text{
display: flex;
  flex-direction: column;
  line-height: 1.1;
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
  font-family: "Bricolage Grotesque", "Bricolage Grotesque Placeholder", sans-serif;
  margin: 0px;
}
.copyRight-txt{
    color: white;
    font-size: 14px;
   font-family: "Archivo", "Archivo Placeholder", sans-serif;
   margin: 0px;
}
.social-media-icons{
    gap: 10px;
}