body{
    background-color: #090B10;
    margin: 0px;
    display: flex;
    flex-direction: column;
   
}
.page-container{
     display: flex;
    flex-direction: column;
     gap: 120px;
    max-width: 1520px;
    margin: 0 auto;
}
