
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #00DB9726;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 8px;
    align-items: center;
    position: fixed;
    top: 10px;   
    left: 80px;
    right: 80px;
     /*transform: translatey(-50%); */
    transition: top 0.3s ease;
    z-index: 1000;

}
.nav-links {
  display: flex;
  gap: 32px;       
  list-style: none; 
  padding: 0;
  margin: 0;
  align-items: center;
  color: #ffffff;
}
.nav-links li {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  position: relative;
  transition: color 0.3s ease;
}
.nav-links li:hover {
  color: #00DD97;
  text-decoration: underline;
}
.cta-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  padding: 12px 20px;
  background-color: #090b10;
  border: 2px solid transparent;   
  border-radius: 6px;

  cursor: pointer;
  transition: all 0.3s ease;
}
.cta-btn:hover {
  background:
    linear-gradient(#090b10, #090b10) padding-box,
    linear-gradient(90deg, #00DD97, #091817) border-box;

  border: 2px solid transparent;
}
.btn-text {
  font-size: 16px;
  font-weight: 600;
  color: #00DD97;
}
.arrow-img{
    width: 20px;
    height: 20px;
    display: block;
}
.logo-container {
  display: flex;
  align-items: center;
  gap: 6px;
}
.logo-text {
  display: flex;
  flex-direction: column;
  line-height: 1.1;
  font-weight: 600;
  color: #ffffff;
}
.logo-img {
    width: 42px;
  height: 28px;
}
